@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FingerPaint';
  src: url('/FingerPaint-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: sans-serif;
}

:root {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
